<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voter Form</title>
</head>
<body>
<h2>Voter Form</h2>

<form action="/voters/addVoter" method="post" th:object="${voter}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:field="*{age}" required>

    <label for="state_id">State:</label>
    <select id="state_id" name="state_id" th:field="*{state_id}">
        <option th:each="state : ${stateService}" th:value="${state.id}" th:text="${state.stateNames}"></option>
    </select>

    <button type="submit">Submit</button>
</form>

<a href="/voters/list">Back to Voter List</a>
</body>
</html>
